body {
	font-family: Arial, Helvetica, sans-serif;
}

h2,
h4 {
	padding: 20px 0 0;
}

h2 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

pre {
	background-color: #eee;
	border-color: #ddd !important;
	border-radius: 5px;
	padding: 10px 20px !important;
	white-space: pre-line;
}

table {
	margin-bottom: 40px !important;
}

.open-nav {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;

	span {
		background-color: #000;
		display: block;
		height: 2px;
		margin: 4px 0;
		width: 20px;
	}
}

#main-container {
	>section {
		padding: 35px;
	}
}

#demo-page {
	h2 {
		border: 0;
	}

	pre {
		margin: 20px auto;
		text-align: left;
		width: fit-content;
		z-index: 0;
	}

	button {
		z-index: 0,
	}
}
